{#
This file is part of CUBE

Copyright(c) CUBE CO.,LTD. All Rights Reserved.

http://www.cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% set Categories = repository('Eccube\\Entity\\Category').getList() %}

{% macro tree(Category) %}
	{% from _self import tree %}
	<a href="{{ url('product_list') }}?category_id={{ Category.id }}">
		{{ Category.name }}
	</a>
	{% if Category.children|length > 0 %}
		<ul>
			{% for ChildCategory in Category.children %}
        {% if ChildCategory.children|length > 0 %}
          <li class="has-sub" >
            {{ tree(ChildCategory) }}
          </li>
        {% else %}
          <li>
            {{ tree(ChildCategory) }}
          </li>
        {% endif %}
			{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}

{# @see https://github.com/bolt/bolt/pull/2388 #}
{% from _self import tree %}
<div class="category-navi">
	<div class="item-nav">
		<ul class="item-nav__nav">
			{% for Category in Categories %}
        {% if Category.children|length > 0%}
          <li class="has-sub">
            {{ tree(Category) }}
          </li>
        {% else %}
          <li>
            {{ tree(Category) }}
          </li>
        {% endif %}
			{% endfor %}
		</ul>
	</div>
</div>
{% block javascript%}
  <script>
    const parentsCategory =  document.querySelectorAll('.has-sub').forEach(function(parent){
      parent.addEventListener('click',function(event){
        event.stopPropagation(); 
        const ulChild = parent.getElementsByTagName('ul')[0];
        if(ulChild.classList.contains('active'))
            ulChild.classList.remove('active');
        else ulChild.classList.add('active');
      });
    });
  </script>
{%endblock javascript%}