<div class="headerNav">
  <div class="headerNav__list">
      <div class="headerNav__item favorite">
        <a href="{{ url('mypage_favorite') }}">
          <i class="headerNav__itemIcon far fa-heart"></i>
          <div class="headerNav__itemLink">{{ 'お第に入り'|trans }}</div>
        </a>
      </div>
      <div class="headerNav__item transaction">
        {{ include('Block/transaction.twig') }}
      </div>
      <div class="headerNav__item track">
        {{ include('Block/track.twig') }}
      </div>
      <div class="headerNav__item my-page">
        {{ include('Block/login.twig') }}
      </div>
      <div class="headerNav__item cart js-collapsible">
        <span class="name">齊藤あづさ様</span>
        {{ include('Block/cart.twig') }}
      </div>
  </div>
  </div>
</div>