<div class="headerNav">
  <div class="headerNav__list">
      <div class="headerNav__item favorite">
        <a href="{{ url('mypage_favorite') }}">
          <i class="headerNav__itemIcon fas fa-heart fa-fw"></i>
          <span class="headerNav__itemLink">{{ 'front.block.login.favorite'|trans }}</span>
        </a>
      </div>
      <div class="headerNav__item transaction">
        {{ include('Block/transaction.twig') }}
      </div>
      <div class="headerNav__item track">
        {{ include('Block/track.twig') }}
      </div>
      <div class="headerNav__item my-page">
        {{ include('Block/login.twig') }}
      </div>
      <div class="headerNav__item cart js-collapsible">
        {{ include('Block/cart.twig') }}
      </div>
  </div>
  </div>
</div>