<div class="wrapper">
    <div class="item-container new-item">
        <div class="item-container__heading new-item-heading">
            <div class="item-container__title new-item-title">
                <h3 class="item-container__title-big">あなたにおすすめの商品</h3>
                <span class="item-container__title--small">毎時問更新 !</span>
            </div>
            <div class="item-container__button new-item-button">
                <button class="btn btn-secondary">もっとる</button>
            </div>
        </div>
        <div class="item-container__list new-item-list">
            <div class="item-container__item new-item__item">
                {{ include('Block/card.twig') }}
            </div>
            <div class="item-container__item new-item__item">
                {{ include('Block/card.twig') }}
            </div>
            <div class="item-container__item new-item__item">
                {{ include('Block/card.twig') }}
            </div>
            <div class="item-container__item new-item__item">
                {{ include('Block/card.twig') }}
            </div>
            <div class="item-container__item new-item__item">
                {{ include('Block/card.twig') }}
            </div>
        </div>
    </div>
</div>