<div class="wrapper">
    <div class="item-container product-rank">
        <div class="item-container__heading product-rank-heading">
            <div class="item-container__title product-rank-title">
                <h3 class="item-container__title-big">人気商品ランキング</h3>
                <span class="item-container__title--small">毎時問更新 !</span>
            </div>
            <div class="item-container__button product-rank-button">
                <button class="btn btn-secondary">毎時</button>
                <button class="btn">ディリー</button>
                <button class="btn">年新</button>
            </div>
        </div>
        <div class="item-container__list product-rank-list">
            <div class="item-container__item product-rank-item">
                <div class="card-product">
                    <div class="card">
                        <div class="label">1</div>
                        <img src="{{ asset(''|no_image_product , 'save_image') }}">
                    </div>
                    <div class="card-product__title">
                        商品名商品名商品名商品名商品名商品名商品名商商品名商品名商品名商品名商品名商品名商品名商
                    </div>
                    <div class="card-product__note">第第戸市</div>
                    <div class="card-product__rating">
                        {% for i in 0..4 %}
                        <span>☆</span>
                        {% endfor %}
                    </div>
                    <div class="card-product__price">¥ 1,100</div>
                </div>
            </div>
            <div class="item-container__item product-rank-item">
                <div class="card-product">
                    <div class="card">
                        <div class="label">2</div>
                        <img src="{{ asset(''|no_image_product , 'save_image') }}">
                    </div>
                    <div class="card-product__title">
                        商品名商品名商品名商品名商品名商品名商品名商商品名商品名商品名商品名商品名商品名商品名商
                    </div>
                    <div class="card-product__note">第第戸市</div>
                    <div class="card-product__rating">
                        {% for i in 0..4 %}
                        <span>☆</span>
                        {% endfor %}
                    </div>
                    <div class="card-product__price">¥ 1,100</div>
                </div>
            </div>
            <div class="item-container__item product-rank-item">
                <div class="card-product">
                    <div class="card">
                        <div class="label">3</div>
                        <img src="{{ asset(''|no_image_product , 'save_image') }}">
                    </div>
                    <div class="card-product__title">
                        商品名商品名商品名商品名商品名商品名商品名商商品名商品名商品名商品名商品名商品名商品名商
                    </div>
                    <div class="card-product__note">第第戸市</div>
                    <div class="card-product__rating">
                        {% for i in 0..4 %}
                        <span>☆</span>
                        {% endfor %}
                    </div>
                    <div class="card-product__price">¥ 1,100</div>
                </div>
            </div>
            <div class="item-container__item product-rank-item">
                <div class="card-product">
                    <div class="card">
                        <div class="label">4</div>
                        <img src="{{ asset(''|no_image_product , 'save_image') }}">
                    </div>
                    <div class="card-product__title">
                        商品名商品名商品名商品名商品名商品名商品名商商品名商品名商品名商品名商品名商品名商品名商
                    </div>
                    <div class="card-product__note">第第戸市</div>
                    <div class="card-product__rating">
                        {% for i in 0..4 %}
                        <span>☆</span>
                        {% endfor %}
                    </div>
                    <div class="card-product__price">¥ 1,100</div>
                </div>
            </div>
            <div class="item-container__item product-rank-item">
                <div class="card-product">
                    <div class="card">
                        <div class="label">5</div>
                        <img src="{{ asset(''|no_image_product , 'save_image') }}">
                    </div>
                    <div class="card-product__title">
                        商品名商品名商品名商品名商品名商品名商品名商商品名商品名商品名商品名商品名商品名商品名商
                    </div>
                    <div class="card-product__note">第第戸市</div>
                    <div class="card-product__rating">
                        {% for i in 0..4 %}
                        <span>☆</span>
                        {% endfor %}
                    </div>
                    <div class="card-product__price">¥ 1,100</div>
                </div>
            </div>
        </div>
    </div>
</div>