<div class="wrapper">
    <div class="item-container product-rec">
        <div class="item-container__heading product-rec-heading">
            <div class="item-container__title product-rec-title">
                <h3 class="item-container__title-big">ビックアップ注目商品</h3>
            </div>
            <div class="item-container__dots product-rec-dots">
                {% for i in 0..4 %}
                    <span> </span>
                {% endfor %}
            </div>
        </div>
        <div class="item-container__list product-rec-list">
            <div class="item-container__item product-rec-item">
                {{ include('Block/card.twig') }}
            </div>
            <div class="item-container__item product-rec-item">
                {{ include('Block/card.twig') }}
            </div>
            <div class="item-container__item product-rec-item">
                {{ include('Block/card.twig') }}
            </div>
            <div class="item-container__item product-rec-item">
                {{ include('Block/card.twig') }}
            </div>
            <div class="item-container__item product-rec-item">
                {{ include('Block/card.twig') }}
            </div>
        </div>
    </div>
</div>