<div class="wrapper">
    <div class="item-container product-rec-bottom">
        <div class="item-container__heading product-rec-bottom-heading">
            <div class="item-container__title product-rec-bottom-title">
                <h3 class="item-container__title-big">あなたにおすすめの商品</h3>
            </div>
            <div class="item-container__button">
                <button class="btn btn-secondary">もっとる</button>
            </div>
        </div>
        <div class="item-container__list product-rec-bottom-list">
            <div class="item-container__item product-rec-bottom-item">
                {{ include('Block/card.twig') }}
            </div>
            <div class="item-container__item product-rec-bottom-item">
                {{ include('Block/card.twig') }}
            </div>
            <div class="item-container__item product-rec-bottom-item">
                {{ include('Block/card.twig') }}
            </div>
            <div class="item-container__item product-rec-bottom-item">
                {{ include('Block/card.twig') }}
            </div>
            <div class="item-container__item product-rec-bottom-item">
                {{ include('Block/card.twig') }}
            </div>
        </div>
    </div>
</div>