<div class="wrapper">
    <div class="item-container shop-rank">
        <div class="item-container__heading shop-rank-heading">
            <div class="item-container__title shop-rank-title">
                <h3 class="item-container__title-big">人気ショップ</h3>
            </div>
            <div class="item-container__button topic-button">
                <button class="btn btn-secondary">もっとる</button>
            </div>
        </div>
        <div class="item-container__list shop-rank-list">
            <div class="item-container__item shop-rank-item">
                {{ include('Block/card-shop.twig',{'brand':'Joule新宿三丁目店ダミーダミータミータミーダミJoule新宿三丁目店ダミーダミータミータミーダミ'})}}
            </div>
            <div class="item-container__item shop-rank-item">
                {{ include('Block/card-shop.twig',{'brand':'Holyday新宿'})}}
            </div>
            <div class="item-container__item shop-rank-item">
                {{ include('Block/card-shop.twig',{'brand':'STORE LINK'})}}
            </div>
            <div class="item-container__item shop-rank-item">
                {{ include('Block/card-shop.twig',{'brand':'danro'})}}
            </div>
            <div class="item-container__item shop-rank-item">
                {{ include('Block/card-shop.twig',{'brand':'studio h.'})}}
            </div>
        </div>
    </div>
</div>