<div class="wrapper-slider">
  <div class="slider">
    <div class="main-visual slider-items">
      <div class="slide">
        <img class="slide-backround" src="{{ asset('assets/img/top/slider.jpg') }}"></img>
      </div>
      <div class="slide">
        <img class="slide-backround" src="{{ asset('assets/img/top/slider.jpg') }}" /></img>
      </div>
      <div class="slide">
        <img class="slide-backround" src="{{ asset('assets/img/top/slider.jpg') }}" /></img>
      </div>
      <div class="slide">
        <img class="slide-backround" src="{{ asset('assets/img/top/slider.jpg') }}" /></img>
      </div>
      <div class="slide">
        <img class="slide-backround" src="{{ asset('assets/img/top/slider.jpg') }}" /></img>
      </div>
      <div class="slide">
        <img class="slide-backround" src="{{ asset('assets/img/top/slider.jpg') }}" /></img>
      </div>
    </div>
    <div class="slider-items dots"></div>
    <div class="button-left"></div>
    <div class="button-right"></div>
  </div>
</div>