<div class="wrapper-slider">
  <div id="carousel">
    <div class="slider js-slider">
      <div class="slide">
        <img class="slide-backround js-slide prev" src="{{ asset('assets/img/top/img_bnr02.jpg') }}"></img>
      </div>
      <div class="slide">
        <img class="slide-backround js-slide" src="{{ asset('assets/img/top/slider.jpg') }}" /></img>
      </div>
      <div class="slide">
        <img class="slide-backround js-slide" src="{{ asset('assets/img/top/fruit.jpeg') }}" /></img>
      </div>
      <div class="slide">
        <img class="slide-backround js-slide" src="{{ asset('assets/img/top/fish.jpeg') }}" /></img>
      </div>
      <div class="slide">
        <img class="slide-backround js-slide" src="{{ asset('assets/img/top/img_hero_pc02.jpg') }}" /></img>
      </div>
      <div class="slide">
        <img class="slide-backround js-slide" src="{{ asset('assets/img/top/img_bnr02.jpg') }}" /></img>
      </div>
      <div class="slide">
        <img class="slide-backround js-slide"  src="{{ asset('assets/img/top/slider.jpg') }}" /></img>
      </div>
    </div>
    {# <div class="slider-items dots"></div>
    <div class="slider-button">
			<div class="button js-slide-left"><i class="fas fa-angle-left"></i></div>
			<div class="button js-slide-right"><i class="fas fa-angle-right"></i></div>
		</div> #}
  </div>
</div>
<script>
  $(function() {
    $('#carousel .slider').slick({
        dots: true,
        arrows: true,
        autoplay: true,
        speed: 500,
    });
  });
</script>