{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div class="topic">
  <div class="ec-role">
      <div class="topic__heading heading">
        <span class="topic__heading-en heading__en">{{ 'front.block.topic.topic__en'|trans }}</span>
        <span class="topic__heading-line heading__line"></span>
        <span class="topic__heading-ja heading__ja">{{ 'front.block.topic.topic__ja'|trans }}</span>
      </div>
      <div class="topic__list">
        <div class="topic__item">
          <a href="{{ url('product_list') }}?category_id=1">
            <img src="{{ asset('assets/img/top/img_bnr01.jpg') }}">
          </a>
          <p class="topic__item-title">{{ 'front.block.topic.title__gelato'|trans }}</p>
        </div>
        <div class="topic__item">
          <a href="{{ url('product_list') }}?category_id=5">
            <img src="{{ asset('assets/img/top/img_bnr02.jpg') }}">
          </a>
          <p class="topic__item-title">{{ 'front.block.topic.title__ice'|trans }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
