<div class="wrapper">
    <div class="item-container topic">
        <div class="item-container__heading topic-heading">
            <div class="item-container__title topic-title">
                <h3 class="item-container__title-big">あなたにおすすめの商品</h3>
                <span class="item-container__title--small">毎時問更新 !</span>
            </div>
            <div class="item-container__button topic-button">
                <button class="btn btn-secondary">もっとる</button>
            </div>
        </div>
        <div class="item-container__list topic-list">
            <div class="item-container__item topic-item">
                {{ include('Block/card.twig') }}
            </div>
            <div class="item-container__item topic-item">
                {{ include('Block/card.twig') }}
            </div>
            <div class="item-container__item topic-item">
                {{ include('Block/card.twig') }}
            </div>
            <div class="item-container__item topic-item">
                {{ include('Block/card.twig') }}
            </div>
            <div class="item-container__item topic-item">
                {{ include('Block/card.twig') }}
            </div>
        </div>
    </div>
</div>